* {
  font-family: 'Montserrat', sans-serif;
}


.spot-details {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}



.spot-star {
  margin-right: 2px;
  align-items: center;
  /* margin-bottom: 0px; */
}

.spot-name {
  font-size: 26px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

.review-star-foot {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-top: 20px;
  width: 100%;
  height: 60px;
  position: relative;
  border-top: 1px solid #AFAFAF;
}


.single-spot-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 10px 110px; */
  flex-wrap: wrap;
  gap: 10px;
  /* width: 600px; */
}


.spot-hosted {
  border-bottom: 1px solid #AFAFAF;
  padding: 10px 0px;
}

.spot-description {
  margin-top: 10px;
  padding: 35px 0px;
  font-size: 15px;
  display: inline-block;
  word-break: break-word;
  width: 100%;
}

.left-middle {
  width: 66%;
}

.middle-spot-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spot-price-mother {
  width: 36%;
}

.big-mother {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.browser-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* padding: 30px 260px; */
  /* border-bottom: 1px solid #EBEBEB; */
}

.reviews-wrapper {
  /* border-top: 1px solid #EBEBEB; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px 60px;
  margin-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #AFAFAF;
}

.reviews {
  width: 45%;
  padding: 20px 0px;
}

.aircover-pic {
  width: 130px;
  margin-top: 35px;
}

.aircover-des {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 15px;
}

.user-review-date {
  font-size: 12px;
  margin-bottom: 8px;
}

.spot-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: solid 1px #AFAFAF;
  box-shadow: 2px 2px 5px #AFAFAF;
  /* width: fit-content; */
  /* width: 300px; */
  /* width: 80%; */
  height: fit-content;
  border-radius: 12px;
  padding: 24px 22px;
  margin-left: 25px;
  margin-top: 25px;
  position: sticky;
  top: 400px;
  border: 1px solid #EBEBEB;
  border-radius: 12px;
  z-index: 1;
}

.own-this-spot {
  font-size: 12px;
}

.spot-price-child {
  /* padding: 10px; */
  font-size: 16px;
  display: flex;
  align-items: flex-end;
}

.profile-name {
  display: flex;
  flex-direction: row;
}

.review-name-date {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: flex-start;
  /* justify-items: end; */
}

.user-profile-pic {
  border-radius: 20px;
  color: #717171;
  width: 40px;
  height: 40px;
}

.hosted-pic {
  border-radius: 20px;
  color: #717171;
  width: 40px;
  height: 40px;
}

.review-username {
  margin-top: 1px;
  margin-left: 10px;
}

.user-review-date {
  margin-top: 1px;
  margin-left: 10px;
  font-size: 12px;
}

.review-message {
  margin-top: 8px;
  word-wrap: break-word;
  font-size: 15px;
}

.spot-hosted {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}

.hosted-by {
  font-size: 19px;
  margin-top: 12px;
  font-weight: bold;
}

.stars-n-review {
  display: flex;
  font-size: 19px;
  margin-top: 30px;
  font-weight: bold;
  width: 100%;
  display: inline-block;
}

.self-check-in {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

#super {
  margin-bottom: 40px;
  /* border-bottom: 1px solid #EBEBEB; */
}

.aircover-parent {
  border-top: 1px solid #AFAFAF;
  border-bottom: 1px solid #AFAFAF;
}

.fa-door-open {
  font-size: 35px;
}

.fa-id-badge {
  font-size: 38px;
  margin-left: 5px;
}

.check-in {
  margin-left: 20px;
  font-size: 15px;
}

.superhost {
  margin-left: 27px;
  font-size: 15px;
}

.fa-paw {
  margin-top: 2px;

}


#spot-star-paw {
  font-size: 12px;
}

.review-click {
  text-decoration: underline;
  color: inherit;
  font-size: 12px;
  border: 0;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.review-this-spot {
  display: flex;
  height: 30px;
  position: absolute;
  right: 0;
  top: 25px;
}

.spot-sticky-review {
  font-size: 14px;
  display: flex;
}

.booking-form {
  margin-top: 20px;
}

.booking-input-wrap {
  border: 1px solid #B0B0B0;
  border-radius: 5px;
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}

.price-per-night {
  font-size: 18px;
}

.price-per-night-1 {
  font-size: 15px;
}


.booking-input {
  padding: 0px 10px;
  padding-top: 24px;
  padding-bottom: 10px;
  border: 1px solid #B0B0B0;
  position: relative;
  border: none;
  /* border-collapse: separate; */
}


.booking-1 {
  border-right: 1px solid #B0B0B0;
}

.booking-calendar {
  position: absolute;
  right: -10px;
  border: 1px solid #B0B0B0;
  border-radius: 3px;
  background-color: white;
}

.booking-label {
  position: absolute;
  top: 0px;
  font-size: 10px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 7px;
}

.booking-individual-input {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.button-create-booking {
  border-radius: 6px;
  font-size: 13px;
  border: 0;
  background-color: #E21C5F;
  color: white;
  width: 100%;
  padding: 13px 15px;
  /* margin-top: 8%; */
  font-weight: bold;
}

.button-create-booking:hover {
  background-color: #DD1362;
  cursor: pointer;
}

.booking-des {
  display: flex;
  justify-content: center;
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 18px;
}

.booking-fee-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.booking-individual-fee {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  text-decoration: underline;
}



.booking-fee-total {
  border-top: #DDDDDD 1px solid;
  text-decoration: none;
  padding-top: 10px;
  font-weight: bold;
}

.booking-wrapper {
  width: 100%;
}

.rdrDateDisplayWrapper {
  display: none;
}

.spot-checkin {
  border-top: #AFAFAF 1px solid;
}

.spot-checkin-title {
  font-size: 19px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

.spot-checkin-des {
  font-size: 14px;
  margin-bottom: 20px;
  color: #717171
}


.spot-know-wrapper {
  display: flex;
  flex-direction: column;
}

.spot-know-individual-wrap {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.spot-know-title {
  font-size: 19px;
  margin-bottom: 15px;
  font-weight: bold;
  margin-top: 30px;
}

.spot-know-individual-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.spot-know-items {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.footer-wrapper {
  width: 100%;
  height: 50px;
  background-color: #F7F7F7;
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: 50px;
  justify-content: center;
  font-size: 13px;
}

.footer {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: rgb(0, 0, 0);
  width: 60%;
}

.footer-left {
  display: flex;
}

.proj-directory {
  text-decoration: none;
  transition: 0.4s;
  /* padding: 8px 20px; */
  color: black;
  border-radius: 8px;
}

.proj-directory:hover {
  text-decoration: underline;
}

.dev-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}


.fa-github,
.fa-linkedin {
  color: #737373;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 12px;
}

.fa-github:hover,
.fa-linkedin:hover {
  color: #505050;
}

.map-container {
  width: 100%;
  height: 400px;
}

.map-container a,
.map-container span {
  display: none;
}

.all-images {
  width: 100%;
  height: 510px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.left-image {
  width: 50%;
  height: 100%;
}

.middle-image,
.right-image {
  width: 25%;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.big-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.one-image {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.big-image-1,
.big-image-2 {
  object-fit: cover;
  width: 100%;
  height: 50.2%;
}

.big-image-3,
.big-image-4 {
  object-fit: cover;
  width: 100%;
  height: 50.2%;
}

.big-image-3 {
  border-top-right-radius: 15px;
}

.big-image-4 {
  border-bottom-right-radius: 15px;
}

.map-wrapper-single {
  border-bottom: 1px solid #AFAFAF;
  padding-bottom: 40px;
}

.spot-address-1 {
  margin-bottom: 20px;
}

.map-title {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 25px;
}

.right-3-image {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.big-image-5 {
  border-top-right-radius: 15px;
  height: 33%;
  object-fit: cover;
}

.big-image-6 {
  height: 32%;
  object-fit: cover;
}

.big-image-7 {
  border-bottom-right-radius: 15px;
  height: 32%;
  object-fit: cover;
}

.big-image-8 {
  border-top-right-radius: 15px;
  height: 49.5%;
  object-fit: cover;
}

.big-image-9 {
  border-bottom-right-radius: 15px;
  height: 49%;
  object-fit: cover;
}

.big-image-10 {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.booking-error {
  margin-top: 15px;
}

.owner-booking-button {
  border-radius: 6px;
  font-size: 13px;
  border: 1px solid #DDDDDD;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  width: fit-content;
  padding: 13px 15px;
  font-weight: bold;
  height: fit-content;

  text-decoration: none;
}

.owner-booking-button:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}

.owner-booking-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.owner-booking-wrapper {
  width: 100%;
  margin-top: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.owner-booking-display {
  display: flex;
  margin-top: 20px;
  background-color: #f2f2f2;
  border: 1px solid #DDDDDD;
  font-size: 13px;
  width: 100%;
}

.owner-booking-display-details {
  padding: 5px 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.owner-booking-details {
  font-size: 14px;
  border-bottom: 1px solid #DDDDDD;
  background-color: #cfcfcf;
  width: 100%;
}

.owner-booking-container {
  width: 94%;
}



.amenities-wrapper{
  border-top: 1px solid #AFAFAF;
  padding-top: 20px;
  padding-bottom: 30px;
}

.individual-amenities-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  margin-top: 25px;
  gap: 15px;
}

.individual-amenities-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.individual-amenities-img {
  width: 27px;
  height: 27px;
}
