.big-image {
  object-fit: cover;
  width: 600px;
  height: 560px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  /* padding: 24px; */
}

.spot-details {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.spot-star {
  margin-right: 2px;
}

.spot-name {
  font-size: 24px;
  margin-top: 20px;

}

.review-star-foot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 110px;
  flex-wrap: wrap;
  gap: 10px;
  width: 600px;
}
.single-spot-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 110px;
  flex-wrap: wrap;
  gap: 10px;
  width: 600px;
}


.spot-hosted {
  border-bottom: 1px solid #AFAFAF;
  padding: 10px 0px;
}

.spot-description {
  border-top: 1px solid #AFAFAF;
  border-bottom: 1px solid #AFAFAF;
  padding: 40px 0px;
}


.browser-wrapper {
  display: flex;
  flex-direction: column;

  /* grid-gap: 50px 0px; */
  /* list-style: none; */
  padding: 20px 300px;
  justify-items: center;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}

.reviews-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* margin-top: 0; */
}

.reviews {
  padding: 20px 0px;
  width: 270px;
}

.user-review-date {
  font-size: 12px;
  margin-bottom: 8px;
}

.spot-price {
  position: sticky;
  top: 785px;
  border: 1px solid #EBEBEB;
  border-radius: 15px;
  /* padding-left: 0px; */
  padding-right: 70px;
  padding-bottom: 35px;
}


.spot-price-child {
  padding: 20px;
  margin-bottom: 5px;
}

.big-mother {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
}

.profile-name {
  display: flex;
  flex-direction: row;
  width: 200px;
}

.review-name-date {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-content: flex-start;
  /* justify-items: end; */
}

.user-profile-pic {
  border-radius: 20px;
  color: #717171;
  width: 40px;
  height: 40px;
}

.hosted-pic{
  border-radius: 20px;
  color: #717171;
  width: 40px;
  height: 40px;
}

.review-username,
.user-review-date {
  margin-top: 1px;
  margin-left: 10px;
}

.review-message{
  margin-top: 5px;
}

.spot-hosted{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}

.hosted-by{
  font-size: 18px;
  margin-top: 12px;
  font-weight: bold;
}

.self-check-in{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

#super{
  margin-bottom: 40px;
}

.fa-door-open {
  font-size: 35px;
}

.fa-id-badge{
  font-size: 38px;
  margin-left: 5px;
}

.check-in{
  margin-left: 20px;
  font-size: 15px;
}

.superhost{
  margin-left: 27px;
  font-size: 15px;
}

.fa-paw{
  margin-top: 2px;
}




.review-click {
  text-decoration: none;
  color: inherit;
  border-radius: 6px;
  font-size: 12px;
  border: 0;
  background-color: #E21C5F;
  color: white;
  /* top: 50%; */
  /* left: 50%; */
  width: 100%;
  padding: 10px 15px;
  margin-top: 10%;
  font-weight: bold;
  margin-left: 20px;
}
