* {
  font-family: 'Montserrat', sans-serif;
}

/* .input-parent {
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #AFAFAF;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
}

.input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #AFAFAF;
  width: 100%;
  font-size: 12px;
} */


.signup-input-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  border-radius: 10px;
  border: #AFAFAF 1px solid;
}

.signup-input-box {
  position: relative;
  width: 100%;
  border-bottom: #AFAFAF 1px solid;
}

.signup-input-box input {
  width: 100%;
  padding-top: 28px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  /* background: #EDEDED; */
  font: inherit;
  border: none;
  color: rgb(0, 0, 0);
}

.signup-input-box input:focus {
  background-color: #F9F9F9;
}

.signup-input-box label {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  font-size: 14px;
  pointer-events: none;
  transition: .5s;
  color: #666666;
}

.signup-input-box input:valid+label,
.signup-input-box input:focus+label {
  font-size: 12px;
  top: -2px;
  left: 0;

}

.signup-input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  border-bottom: 1px solid #AFAFAF;
}

.button-signup {
  border-radius: 6px;
  font-size: 12px;
  border: 0;
  background-color: #E21C5F;
  color: white;
  width: 100%;
  padding: 15px 15px;
  margin-top: 30px;
  margin-bottom: 25px;
  font-weight: bold;
}

.button-signup:hover {
  background-color: #DD1362;
  cursor: pointer;
}

.welcome-message {
  text-align: left;
  margin-left: 1%;
  margin-top: 30px;
  font-size: 20px;
}

.signup-form-mother {
  margin: 0px 25px;
}

.signup-form-wrapper {
  margin-top: -10px;
}

.full-signup-form {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  /* margin: 0px 25px; */
  width: 500px;
  z-index: 0px;
}

.modal-button {
  font-size: 12px;
  border: 0;
  background-color: white;
  color: black;
  width: 100%;
  padding: 10px 15px;
  font-weight: bold;
  text-align: left;
}

.modal-button:hover {
  background-color: #F7F7F7;
  ;
  cursor: pointer;
}

.password {
  border-bottom: none;
}

.error-mother {
  font-size: 14px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 12px;
  color: #DD1362;
  margin-bottom: 22px;
}

/* #hacky-input {
  display: none; 
}

#hacky-input:checked + label .crossRotate {
  animation: animation 0.3s ease-in-out;
}


@keyframes animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
} */
