.button-create-spot {
  border-radius: 6px;
  font-size: 12px;
  border: 0;
  background-color: #E21C5F;
  color: white;
  width: 100%;
  padding: 10px 15px;
  margin-top: 8%;
  font-weight: bold;
}

.button-create-spot:hover{
  background-color: #DD1362;
  cursor: pointer;
}

.host-message {
  text-align: center;
  /* margin-bottom: 50px; */
  margin-bottom: 8%;
}

.host-form-parent {
  width: 500px;
}

.full-host-form {
  display: flex;
  justify-content: center;
  border: 0;
  /* padding: 24px 24px; */
  border-radius: 31px;
  /* width: 600px; */
  /* margin: 50px 650px ; */
  margin: 5% 0%

}


.host-input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  line-height: 30px;
  padding: 8px 8px;
  border-bottom: 1px solid #AFAFAF;
  width: 100%;
  font-size: 12px;
}

.form-errors {
  color: red;
  font-size: 14px;
}
