.all-spot-display {
  /* display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  gap: 40px;
  list-style: none;
  justify-items: center; */

  /* padding: 50px 0px; */
  margin-top: 20px;
  display:grid;
  grid-template-columns: repeat(auto-fill, 270px);
  justify-content: center;
  gap: 25px;
}

.spot-image {
  object-fit: cover;
  width: 100%;
  height: 270px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;

}

.spots {
  text-decoration: none;
  color: inherit;
  width: 270px;
  /* z-index: 0; */
}

.address-star {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.individual-spots {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* padding: 30px 110px; */
  /* flex-wrap: wrap; */
  /* gap: 10px; */
  width: 100%;
  margin-top: 20px;
}

.spot-star {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.address {
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.price {
  margin-top: 5px;
}

.spot-info{
  font-size: 15px;
}
