.spot-mother {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 50px 0px;
  list-style: none;
  gap:40px 40px;
  padding: 50px 300px;
  justify-items: center;
}

.user-spot-image {
  object-fit: cover;
  width: 600px;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

.all-owned-spot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0% 10/%; */
  flex-wrap: wrap;
  gap: 10px;
  width: 600px;
}

.delete-edit {
  border-radius: 6px;
  font-size: 12px;
  border: 0;
  background-color: #E21C5F;
  color: white;
  width: 100%;
  padding: 10px 10px;
  margin-top: 10px;
  font-weight: bold;
}

.delete-edit:hover{
  background-color: #DD1362;
  cursor: pointer;
}

.user-spot-message {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}

.no-spot {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0px;
}

.no-spot-meow {
  margin-top: 100px;
  margin-left: 655px;
}

.spots{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.user-price-per{
  margin-top: 10px;
}
