.user-spots-mother {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.spot-mother {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 50px 0px;
  list-style: none;
  gap: 40px 40px;
  padding: 35px 20px;
  align-items: center;
  justify-content: center;
  width: 70%;
  border-radius: 15px;
  background-color: #F7F7F7;
}


.user-spot-image {
  object-fit: cover;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.user-address-star{
  overflow: hidden;
  text-overflow: ellipsis;
}

.all-owned-spot {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  background-color: white;
}

.all-owned-spot:hover {
  background-color: #fcfcfc;

}

.delete-edit {
  border-radius: 6px;
  font-size: 12px;
  border: 0;
  background-color: #E21C5F;
  color: white;
  width: 100%;
  padding: 10px 10px;
  margin-top: 10px;
  font-weight: bold;
}

.delete-edit:hover {
  background-color: #DD1362;
  cursor: pointer;
}

.user-spot-message {
  font-size: 32px;
  font-weight: bold;
}

.user-spot-your-spot {
  font-size: 26px;
  font-weight: bold;
  margin-top: 50px;
}

.message-spot-mother {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 72.5%;
  padding: 35px 0px;
}


.message-spot-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.no-spot-meow {
  width: 80%;
}

.no-spot-mother {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 1000px; */
}

.all-owned-spot-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.user-spots {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-right: 5%;
}

.user-price-per {
  margin-top: 10px;
}

.user-spots-left {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
}

.user-spots-right {
  display: flex;
  flex-direction: row;
  width: 30%;
}

.user-spot-buttons {
  display: flex;
  flex-direction: column;
  width: 8%;
  height: 100%;
}

.user-spot-name {
  font-size: 20px;
  font-weight: bold;
}

.user-spot-rating {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.user-spots-middle {
  display: flex;
  gap: 8px;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-welcome-host {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.user-host {
  text-decoration: none;
  color: inherit;
  border: 1px solid black;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
  height: 20px;
  display: flex;
  align-items: center;
}

.user-host:hover {
  background-color: rgb(226, 226, 226);
}
