.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 10px;
  padding: 10px 0px;
  height: 70px;
  width: 200px;
  background-color: white;
  box-shadow: 0px 1px 8px #dddddd;
  border-radius: 10px;
  border: 1px solid #dddddd;
  right: 110px;
  /* justify-content: left; */
}

.show-drop-menu {
  visibility: visible;
    /* z-index: 1; */
}

.hide-drop-menu {
  visibility: hidden;
}


.user-buttons {
  border-radius: 20px;
  border: 1px solid #dddddd;
  background-color: white;
  width: 70px;
  margin-right: 20px;
  padding: 7px;
  display: flex;
  justify-content: space-around ;
}

.user-buttons:hover {
  box-shadow: 1px 1px 2px #AFAFAF;;
  cursor: pointer;

}

/* .menu-parent {
  position: relative;
  justify-content: space-around;
  align-items: center;
} */

/* #menu-item{
  border: 0;
  color: white;
} */

#icon {
  height: 35px;
  width: auto;
  display: flex;
  margin-right: 5px;
}

#logo {
  height: 20px;
  width: auto;
}

.home-button {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
}

.full-navigation{
  position: sticky;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid #EBEBEB;
  background-color: white;
  padding: 10px 90px;
  z-index: 1;
}

/* .right-nav{
} */
