* {
  font-family: 'Montserrat', sans-serif;
}

.user-button {
  border-radius: 20px;
  border: 1px solid #dddddd;
  background-color: white;
  width: 80px;
  margin-right: 20px;
}

.user-buttons:hover {
  box-shadow: 1px 1px 2px #AFAFAF;;
}

.fa-bars {
  margin-right: 5px;
  color: #595959;
  font-size:12px;
  margin-bottom: 5px;
  justify-content: center;
  text-align: center;
}

.fa-user-circle {
  margin-top:4px;
  color: #717171;
  font-size: 18px;
  margin-left: 5px;
}

.user-dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 10px;
  /* padding: 10px 10px; */
  height: 110px;
  width: 200px;
  background-color: white;
  box-shadow: 0px 1px 8px #dddddd;
  border-radius: 10px;
  border: 1px solid #dddddd;
  right: 20px;
}

.logout-button{
  /* border-top: #595959; */
  font-size: 16px;
  border: 0;
  background-color: white;
  color: black;
  width: 100%;
  padding: 10px 15px;
  text-align: left;
  margin-top: 3px;
}
.logout-button:hover{
  background-color:#F7F7F7;
  cursor: pointer;
}

/* .menu-parent {
  position: relative;
  justify-content: space-around;
  align-items: center;
} */

#user-menu-item{
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0px 15px;
}

.user-info{
  border-bottom: 1px solid #AFAFAF;
}
