* {
  font-family: 'Montserrat', sans-serif;
}

.user-button {
  border-radius: 20px;
  border: 1px solid #dddddd;
  background-color: white;
  width: 70px;
  margin-right: 20px;
  padding: 7px;
  display: flex;
  justify-content: space-around;
}

.user-button:hover {
  box-shadow: 1px 1px 2px #AFAFAF;
  ;
}

.fa-bars {
  color: #595959;
  font-size: 16px;
  margin-top: 4px;
}

.profile-pic {
  border-radius: 20px;
  color: #717171;
  font-size: 20px;
  width: 25px;
}

.user-dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 10px;
  /* padding: 10px 10px; */
  height: 145px;
  width: 200px;
  background-color: white;
  box-shadow: 0px 1px 8px #dddddd;
  border-radius: 10px;
  border: 1px solid #dddddd;
  right: 110px;
  z-index: 1;
}

.logout-button {
  /* border-top: #595959; */
  font-size: 14px;
  border: 0;
  background-color: white;
  color: black;
  width: 100%;
  padding: 8px 15px;
  text-align: left;
  margin-top: 3px;
}

.logout-button:hover {
  background-color: #F7F7F7;
  cursor: pointer;
}

/* .menu-parent {
  position: relative;
  justify-content: space-around;
  align-items: center;
} */

#user-menu-item {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0px 15px;
  font-size: 14px;
}

.user-info {
  border-bottom: 1px solid #AFAFAF;
}

.full-right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: ; */
}

.host {
  text-decoration: none;
  color: inherit;
  /* margin-right: 20%; */
  padding: 10px 10px;
  font-size: 14px;

}

.host:hover {
  border-radius: 30px;
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}

.host-parent {
  /* margin-left: 70%; */
  flex: wrap;
  margin-right: 20px;
}
