* {
  font-family: 'Montserrat', sans-serif;
}

.input-parent {
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #AFAFAF;
  overflow: hidden;
  margin-top: 10px;
  opacity: 1;
  visibility: visible;
}

.input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #AFAFAF;
  width: 100%;
  font-size: 12px;
}

.button-login {
  border-radius: 6px;
  font-size: 12px;
  border: 0;
  background-color: #E21C5F;
  color: white;
  width: 100%;
  padding: 10px 15px;
  margin-top: 10%;
  font-weight: bold;
}

.demo-user{
  border-top: 1px solid #AFAFAF;
  margin-top: 20px;
}

.demo-user-button{
  border-radius: 6px;
  font-size: 12px;
  border: 0;
  background-color: #E21C5F;
  color: white;
  /* top: 50%; */
  /* left: 50%; */
  width: 100%;
  padding: 10px 15px;
  margin-top: 10%;
  font-weight: bold;
}

.full-login-form{
  padding: 24px 24px;
  border-radius: 10px;
  height: 300px;
  width: 264px;
  /* border-bottom: 'none'; */
}

.modal-button{
  font-size: 12px;
  border: 0;
  background-color: white;
  color: black;
  width: 100%;
  padding: 10px 15px;
  font-weight: bold;
  text-align: left;
  /* margin-left: 10px */
}
.modal-button:hover{
  background-color:#F7F7F7;
  cursor: pointer;
}

/* .password{
  border-bottom: none;
} */
