* {
  font-family: 'Montserrat', sans-serif;
}

.input-parent {
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #AFAFAF;
  overflow: hidden;
  margin-top: 10px;
  opacity: 1;
  visibility: visible;
  /* margin-bottom: 10px; */
  /* padding: 8px 15px; */
}

.input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #AFAFAF;
  width: 100%;
  font-size: 12px;

}

.button-login {
  /* position: ; */
  border-radius: 6px;
  font-size: 12px;
  border: 0;
  background-color: #E21C5F;
  color: white;
  /* top: 50%; */
  /* left: 50%; */
  width: 100%;
  padding: 10px 15px;
  margin-top: 10%;
  font-weight: bold;
}

/* .full-form{
} */

#modal-content{
  padding: 24px 24px;
  border-radius: 10px;
  height: 318px;
  width: 264px;
}
