* {
  font-family: 'Montserrat', sans-serif;
}

.login-input-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  border-radius: 10px;
  border: #AFAFAF 1px solid;
}

.login-input-box {
  position: relative;
  width: 100%;
  border-bottom: #AFAFAF 1px solid;
}

.login-input-box input {
  width: 100%;
  padding-top: 28px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  /* background: #EDEDED; */
  font: inherit;
  border: none;
  color: rgb(0, 0, 0);
}

.login-input-box input:focus {
  background-color: #F9F9F9;
}

.login-input-box label {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  font-size: 14px;
  pointer-events: none;
  transition: .5s;
  color: #666666;
}

.login-input-box input:valid+label,
.login-input-box input:focus+label {
  font-size: 12px;
  top: -2px;
  left: 0;

}

.login-input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  border-bottom: 1px solid #AFAFAF;
}

.button-login {
  border-radius: 6px;
  font-size: 12px;
  border: 0;
  background-color: #E21C5F;
  color: white;
  width: 100%;
  padding: 15px 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bold;
}

.button-login:hover {
  background-color: #DD1362;
  cursor: pointer;
}

.demo-user {
  border-top: 1px solid #AFAFAF;
  margin-top: 0px;
  position: relative;
}
.demo-or{
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 0 10px;
  font-size: 12px;
  /* color: #666666; */
}

.password{
  border-bottom: none;
}

.demo-user-button {
  border-radius: 6px;
  font-size: 12px;
  border: 1px solid black;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 15px 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bold;
}

.demo-user-button:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

/* .login-form-parent {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
  width: 500px;
  z-index: 0px;
} */

.modal-button {
  font-size: 12px;
  border: 0;
  background-color: white;
  color: black;
  width: 100%;
  padding: 10px 15px;
  font-weight: bold;
  text-align: left;
  /* margin-left: 10px */
}

.modal-button:hover {
  background-color: #F7F7F7;
  cursor: pointer;
}

.login-error-validation {
  font-size: 14px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 12px;
  color: #DD1362;
  margin-bottom: 22px;
}

.login-title {
  margin: 0px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-title-item {
  font-weight: bold;
}

.login-title-wrap {
  padding: 15px 0px;
  width: 100%;
  border-bottom: #EAEAEA 1px solid;
}

.login-close {
  cursor: pointer;
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  height: auto;
  margin-top: -20px;
}

.login-form-wrapper-parent {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
  width: 500px;
  z-index: 0px;
}
